.AsideComponent {
    color: white;
    background-color: #282c34;
    border: 2px solid green;
    width: 25%;
    float: left;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AsideComponent p {
    margin-bottom: 6px;
}

.AsideComponent input {
    width: 150px;
}

.AsideComponent button {
    margin-top: 100px;
}
